﻿@model innDeveloper.Northwind.MvcWebUI.Models.CartSummaryViewModel

<ul class="dropdown-menu">
    
    @foreach (var item in Model.Cart.CartLines)
    {
        <li>
            <a>@item.Product.ProductName <span class="badge">@item.Quantity</span></a>
        </li>
    }
    
    <li role="seperator" class="divider"></li>
    <li>
        <a><span class="glyphicon glyphicon-align-left glyphicon-shopping-cart" aria-hidden="true"></span>@Model.Cart.Total</a>
    </li>
    <li role="separator" class="divider"></li>
    <li>
        <a asp-controller="Cart" asp-action="List">Go To Cart Details</a>
    </li>


</ul>
