﻿@model innDeveloper.Northwind.MvcWebUI.UserDetailsViewModel

    <ul class="dropdown-menu">
        @if (!String.IsNullOrEmpty(@Model.UserName))
        {
            <li>
                <a>Welcome @Model.UserName</a>
            </li>
            <li>
                <a asp-controller="Account" asp-action="LogOff">Log Off</a>
            </li>
        }

    </ul>